@tailwind base;
@tailwind components;
@tailwind utilities;

.content ul {
  padding-left: 20px;
}
.content ul li {
  list-style-type: disc;
}
.content code {
  background-color: #444;
  color: #f4f4f4;
  padding: 2px 5px;
}
.content pre {
  background-color: #444;
  color: #f4f4f4;
  padding: 10px;
  border-top: 5px solid #333;
  margin-top: 20px;
}
.content pre br {
  margin-top: -10px;
}
